.grid {
    display: grid;
    border: 2px blue solid;
    height: 500px;
    width: 500px;
    grid-template: repeat(2, 200px) / repeat(2, 25%) 2fr 1fr;
    grid-gap: 10px 15px;
}

.box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
}

.a {
    grid-area: 1 / 1 / 3 / 3;
}

/*
    grid-template-columns defines the number and sizes of the columns of the grid
    grid-template-rows defines the number and sizes of the rows of the grid
    grid-template is a shorthand for defining both grid-template-columns and grid-template-rows in one line
    grid-gap puts blank space between rows and/or columns of the grid
    grid-row-start and grid-row-end makes elements span certain rows of the grid
    grid-column-start and grid-column-end makes elements span certain columns of the grid
    grid-area is a shorthand for grid-row-start, grid-column-start, grid-row-end, and grid-column-end, all in one line

 */