@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

p ,li, label {
    font-size: 24px;
}

/* company logo *******************************************************************************************************/
.company {
    font-size: 24px;
}

.company {
    background-color: rgb(0, 0, 102);
    background-image: url("favicon.svg");
    background-position-x: 0.2em;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1.1em;
    padding: 0.2em 0.2em 0.2em 1.4em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.05em;
}

.company-dot {
    color: rgb(240,222,107);
}

.company:hover {
    color: rgb(0, 0, 102);
    background-color: #FFFFFF00;
}

/* navigation bar *****************************************************************************************************/
.navigation {
    background-color: indianred;
    font-weight: bold;
    width: 100%;
    position: fixed;
    z-index: 10;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

/* menu bar */
.navigation ul {
    max-width: 1012px;
    margin: 0 auto;
    padding-left: 0;
}

/* menu items */
@media (min-width: 600px) {
    .navigation li {
        display: inline-block;
    }
}

@media (max-width: 600px) {
    .navigation li {
        display: none;
    }

    #toggle:checked ~ ul li {
        display: block;
    }
}

.navigation a, .navigation label {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.navigation a:hover, .navigation label:hover {
    background-color: lightcoral;
}

/* menu icon */
@media (min-width: 600px) {
    #toggle + label {
        display: none;
    }
}

@media (max-width: 600px) {
    #toggle + label {
        display: block;
        color: white;
    }
}

#toggle:checked + label {
    color: gainsboro;
}

/* menu icon checkbox */
#toggle {
    display: none;
}

/* page content *******************************************************************************************************/
.page {
    max-width: 1012px;
    margin: 0 auto;
    position: relative;
    top: 0;
    padding-top: 43px; /* distance from top must be greater than .navigation height */
}