@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

/* company logo *******************************************************************************************************/
.company {
    background-color: rgb(0, 0, 83);
    background-image: url("favicon.png");
    background-position: left;
    background-repeat: no-repeat;
    padding: 2px 2px 2px 20px;
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
}

.company-dot {
    color: rgb(205, 186, 81);
}

/* navigation bar *****************************************************************************************************/
.navigation {
    background-color: indianred;
    font-weight: bold;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navigation a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.navigation a:hover {
    background-color: lightcoral;
}

.navigation li {
    display: inline-block;
}

.navigation ul {
    max-width: 1012px;
    margin: 0 auto;

    padding-left: 0;
}

/* page content *******************************************************************************************************/
.page {
    max-width: 1012px;
    margin: 0 auto;

    position: relative;
    top: 0px;
    padding-top: 30px;  /* distance from top must be greater than .navigation height */
}