@font-face {
 font-family: "PT Sans";
 src: url("assets/fonts/PT_Sans-Web-Regular.ttf");
}

@font-face {
 font-family: "PT Serif";
 src: url("assets/fonts/PT_Serif-Web-Regular.ttf");
}

body {
  background-color: #EEEEEE;
  overflow-x: hidden;
    font-size: 24px;
}

a {
  color: #8840A7
}

.header-image {
  width: 100%;
  position: relative;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 250px;
}

.teresa-jenkins {
  position: absolute;
  top: 60px;
  left: 10px;
  color: #ffffff;
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 26px;
  letter-spacing: -1px;
}

/*Add grid rule set and properties here:*/
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    overflow: hidden;
}


.subheader-content{
  grid-column: 1 / span 4;
}

.text-content-1,
.text-content-2,
.text-content-3,
.text-content-4,
.text-content-5,
.quote-content,
.image-content,
.info-content {
    grid-column: auto / span 4;
}


/*

.subheader-content{
    grid-area: 1 / 1 / span 1 / span 8;
align: left;
}

.text-content-1 {
    grid-area: 2 / 1 / span 1 / span 4;
}

.text-content-2 {
    grid-area: 3 / 1 / span 1 / span 4;
}

.text-content-3 {
    grid-area: 2 / 5 / span 1 / span 4;
}

.text-content-4 {
    grid-area: 4 / 5 / span 1 / span 4;
}

.text-content-5 {
    grid-area: 4 / 9 / span 1 / span 4;
}

.quote-content {
    grid-area: 4 / 1 / span 1 / span 4;
}

.image-content {
    grid-area: 3 / 5 / span 1 / span 8;
}

*/

.info-content {
/*  grid-area: 1 / 9 / span 2 / span 4; */

  background-color: #292929;
  padding-top: 50px;
  padding-left: 50px;
  margin-bottom: 20px;
}

.inset_image {
  height: 300px;
  padding-top: 50px;
}

h2 {
	color: #111111;
	font-family: "PT Serif";
	font-size: 36px;
	line-height: 50px;
}

h3 {
	color: #222222;
	font-family: "PT Sans";
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 3px;
	line-height: 18px;
}

.info-content h3 {
    color: #ffffff;
}

h4 {
	color: #222222;
	font-family: "PT Serif";
	font-size: 22px;
	font-weight: bold;
	line-height: 20px;
	text-align: justify;
}

.line {
  box-sizing: border-box;
  height: 2px;
  width: 60px;
  border: 1px solid #222222;
}

.info-content .line {
    border: 1px solid #ffffff;
}

.text {
  color: #444444;
  font-family: "PT Sans";
  font-size: 24px;
  line-height: 30px;
  text-align: justify;
}

.quote {
  	color: #8840A7;
  	font-family: "PT Serif";
  	font-size: 36px;
  	font-style: italic;
  	line-height: 50px;
}

.oprah {
	color: #111111;
	font-family: "PT Sans";
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 3px;
	line-height: 18px;
}

.info {
  color: #8840A7;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
}

@media (min-width: 600px) and (max-width: 1399px) {
    .logo {
        top: 30px;
    }

    .teresa-jenkins {
        top: 80px;
        font-size: 90px;
        line-height: 72px;
    }

    .grid {
        grid-template-columns: repeat(8, 1fr);
    }

    .subheader-content {
        grid-area: 1 / 1 / span 1 / span 4;
    }

    .text-content-1 {
        grid-area: 2 / 1 / span 1 / span 4;
    }

    .text-content-2 {
        grid-area: 3 / 1 / span 1 / span 4;
    }

    .text-content-3 {
        grid-area: 3 / 5 / span 1 / span 4;
    }

    .text-content-4 {
        grid-area: 6 / 1 / span 1 / span 4;
    }

    .text-content-5 {
        grid-area: 6 / 5 / span 1 / span 4;
    }

    .quote-content {
        grid-area: 5 / 1 / span 1 / span 8;
    }

    .image-content {
        grid-area: 4 / 1 / span 1 / span 8;
    }

    .info-content {
        grid-area: 1 / 5 / span 2 / span 4;
    }
}


@media (min-width: 1400px) {
    .logo {
        top: 50px;
        left: 160px;
    }

    .teresa-jenkins {
        top: 80px;
        left: 160px;
        font-size: 180px;
        line-height: 146px;
    }

    .grid {
        grid-template: 10% 20% 35% 35% / repeat(12, 1fr);
        margin-right: 150px;
        margin-left: 150px;
    }

    .subheader-content {
        grid-area: 1 / 1 / span 1 / span 8;
    }

    .text-content-1 {
        grid-area: 2 / 1 / span 1 / span 4;
    }

    .text-content-2 {
        grid-area: 3 / 1 / span 1 / span 4;
    }

    .text-content-3 {
        grid-area: 2 / 5 / span 1 / span 4;
    }

    .text-content-4 {
        grid-area: 4 / 5 / span 1 / span 4;
    }

    .text-content-5 {
        grid-area: 4 / 9 / span 1 / span 4;
    }

    .quote-content {
        grid-area: 4 / 1 / span 1 / span 4;
    }

    .image-content {
        grid-area: 3 / 5 / span 1 / span 8;
    }

    .info-content {
        grid-area: 1 / 9 / span 2 / span 4;
    }
}