/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */

/* 1. Global Styles
======================================== */
* {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

.float-right {
  float: right;
}

/* 2. Typography Styles
======================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: lightgrey;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 15px;
  transition: font-size 0.25s ease;
}

h1 {
  font-size: calc(64px / 1.5);
  line-height: 1.25;
}

h2 {
  font-size: calc(64px / 1.5);
}

h3 {
  font-size: calc(45px / 1.5);
}

h4 {
  font-size: calc(23px / 1.5);
}

@media(min-width: 720px) {
  h1 {
    font-size: calc(64px / 1.25);
  }

  h2 {
    font-size: calc(45px / 1.25);
  }

  h3 {
    font-size: calc(32px / 1.25);
  }

  h4 {
    font-size: calc(23px / 1.25);
  }
}

@media(min-width: 1024px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 23px;
  }
}

p {
  color: #414546;
  font-family: 'Roboto', Georgia, serif;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 15px;
}

a {
  color: #42A5F5;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 23px;
}

li {
  color: #414546;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 23px;
  list-style: none;
}

blockquote {
  border-top: 1px solid #F2F3F5;
  border-bottom: 1px solid #F2F3F5;
  color: #414546;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 33px;
  margin: 30px 0;
  padding: 30px 0;
}

cite {
  color: #8F9196;
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
}

@media(min-width: 720px) {
  blockquote {
    font-size: 32px;
    line-height: 46px;
  }
}

label {
  color: #414546;
  display: block;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 5px;
}

img {
  width: 100%;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 12px;
  line-height: 1.25;
}

.center {
  text-align: center;
}

/* 3. Structure Styles
======================================== */
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 15px;
}

.divider {
  border: none;
  border-bottom: 1px solid #F2F3F5;
  clear: both;
  width: 100%;
}

.mobile-hide {
  display: none;
}

.mobile-show {
  display: block;
}

@media(min-width: 720px) {
  .mobile-hide {
    display: block;
  }

  .mobile-show {
    display: none;
  }
}

/* 4. Modules Styles
======================================== */

/* Site Navigation */
.site-header {
  background-color: orange;
  border-bottom: 1px solid #F2F3F5;
  padding: 30px 15px;
}

.site-navigation {
  margin: 0 auto;
  max-width: 1440px;
}

.site-header-left,
.footer-left {
  display: inline-block;
}

.site-header-left li {
  line-height: 0;
}

.site-header-right,
.footer-right {
  display: inline-block;
  float: right;
}

.site-header-right li,
.footer-right li {
  display: inline;
}

.site-header-right li:not(:last-child),
.footer-right li:not(:last-child) {
  margin-right: 30px;
}

.site-header-right li:first-child {
  margin-right: 0;
}

.site-header-right li:first-child {
  display: block;
}

.site-header-right li:not(:first-child) {
  display: none;
}

@media(min-width: 720px) {
  .site-header-right li:first-child {
    display: none;
  }

  .site-header-right li:not(:first-child) {
    display: inline-block;
  }
}

.site-header-right li a {
  color: #414546;
  text-decoration: none;
}

.site-header-right li a.active {
  color: #42A5F5;
}

/* Site Footer */
.footer {
  background-color: #F2F3F5;
  padding: 60px 30px;
}

.footer-navigation {
  margin: 0 auto;
  max-width: 1440px;
}

.footer-right {
  float: none;
  margin-top: 15px;
}

@media(min-width: 720px) {
  .footer-right {
    float: right;
    margin-top: 0;
  }
}

.footer li {
  line-height: 0;
}

.footer li a {
  color: #8F9196;
  text-decoration: none;
}

/* 5. Component Styles
======================================== */
.badge {
  border-radius: 30em;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 15px;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
}

.badge-primary {
  background-color: #E9F9F0;
  color: #29C56E;
}

.badge-warning {
  background-color: #FEEDF1;
  color: #F64F7A;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.button {
  border-radius: 3px;
  color: #FFFFFF;
  display: inline-block;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.button:hover {
  opacity: 0.75;
}

.button-primary {
  background-color: #F96332;
}

.button-full {
  width: 100%;
}

.chip {
  display: flex;
  align-items: center;
}

.chip-img-container {
  border-radius: 30em;
  float: left;
  margin-right: 15px;
  overflow: hidden;
  height: 60px;
  width: 60px;
}

.chip-content-container {
  float: left;
}

.chip-content-title {
  margin-bottom: 0;
}

.chip-content-description {
  color: #8F9196;
  margin-bottom: 0;
}

input,
textarea {
  height: 35px;
  border: 1px solid #F2F3F5;
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px 0 rgba(189,191,192,0.10);
  margin-bottom: 15px;
  padding: 10px;
  transition: border-color 0.5s ease;
  width: 100%;
}

input[type="submit"] {
  cursor: pointer;
  height: auto;
  width: auto;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  border: 1px solid #42A5F5;
  outline: none;
}

textarea {
  height: 100px;
}


/* 6. Page Styles
======================================== */

.main-content-header {
  background: #F2F3F5 url('../images/img-1.jpg') center no-repeat;
  background-size: cover;
  height: 650px;
}

.main-content-container {
  max-width: 800px;
  padding: 60px;
  text-align: center;
}

.main-content-section {
  padding: 120px 0;
}

.main-content-section-header {
  margin-bottom: 60px;
  text-align: center;
}

.item {
  margin-bottom: 30px;
  width: 100%;
}

.item-center {
  text-align: center;
}

.item-quote {
  padding: 15px;
}

.item-quote-active {
  background-color: #FFFFFF;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

@media(min-width: 720px) {
  .item {
    float: left;
    margin-bottom: 0;
    width: calc(95%/3);
  }

  .item:not(:last-child) {
    margin-right: 2.5%;
  }
}

.item .item-icon {
  margin-bottom: 15px;
  width: 60px;
}

.content-section-2-left,
.content-section-2-right {
  width: 100%;
}

.content-section-2-right .img-container {
  border: 1px solid #F2F3F5;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  margin-bottom: 30px;
  overflow: hidden;
}

@media(min-width: 720px) {
  .content-section-2 {
    display: flex;
    align-items: center;
  }

  .content-section-2-left,
  .content-section-2-right {
    float: left;
  }

  .content-section-2-left {
    margin-right: 10%;
    width: 40%;
  }

  .content-section-2-right {
    width: 50%;
  }

  .content-section-2-left li {
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px 15px 0;
    transition: border 0.5s ease, background-color 0.5s ease;
  }

 .content-section-2-left li:hover {
    background-color: #F2F3F5;
    border: 2px solid #BDBFC0;
    cursor: pointer;
  }

  .content-section-2-left li.active{
    background-color: #ECF6FE;
    border: 2px solid #42A5F5;
    border-radius: 5px;
  }

  .content-section-2-right .img-container {
    margin-bottom: 0;
  }
}

.content-section-4 {
  background: #F2F3F5 url('../images/img-3.jpg') center no-repeat;
  background-size: cover;
  height: 400px;
}


.dots {
  display: block;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.dot {
  background-color: #42A5F5;
  border-radius: 30em;
  display: inline-block;
  height: 12px;
  opacity: 0.25;
  transition: transform 0.3s ease;
  width: 10px;
}

.dot:hover {
  transform: scale(1.2);
}

.dot:not(:last-child) {
  margin-right: 5px;
}

.dot.active {
  opacity: 1;
}

.slider-arrows {
  float: right;
}

.slider-arrow {
  align-items: center;
  background-color: #ECF6FE;
  border-radius: 30em;
  display: flex;
  float: left;
  height: 44px;
  transition: transform 0.5s ease;
  width: 44px;
}

.slider-arrow:not(:last-child) {
  margin-right: 15px;
}

.slider-arrow:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.slider-arrow img {
  height: 20px;
  text-align: center;
  width: 100%;
}

.slider-arrow-right img {
  transform: rotate(180deg);
}