@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto+Condensed:400,700|Barlow+Condensed:600');

/* Site-Wide Styles */

html {
  font-size: 16px;
}

body {
  font-family: 'Cabin', sans-serif;
  color: hsla(25, 63%, 10%, 1);
}

a {
  text-decoration: none;
}

.logo {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 0.35em;
}

.logo span {
  font-size: 1.3em;
}

.logo:hover {
  text-decoration: none;
}

h1 {
    font-size: 6rem;
}
h2 {
  font-size: 5rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2em;
    padding-top: 1.2em;
    padding-bottom: 0.7em;
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto Condensed', sans-serif;
}

input,
textarea,
select {
  border-radius: 3px;
  background-color: hsla(0, 0%, 89%, 1);
  padding: 1rem;
}

@media only screen and (max-width: 1100px) {
  h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 1.7rem;
  }
}

/* Reusable Component - Button */

.button {
  border-radius: 30px;
  background-color: hsla(25, 63%, 10%, 1);
  text-align: center;
  color: hsla(0, 0%, 93%, 1);
  transition: .25s;
}

.button:hover {
  background-color: hsla(25, 40%, 87%, 1);
  color: hsla(25, 63%, 100%, 1);
}

/* Reusable Component - Image Container */

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reusable Component - Product List */

.product-list-section {
  padding: 0rem 5rem 3.75rem 5rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3.75rem;
  grid-gap: 6px;
}

.product-category {
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.product-category:hover {
  box-shadow: none;
}

.product-category .description-category {
  padding: 1.5rem;
  text-align: left;
}

.product-category h3 {
  margin-bottom: .75rem;
}

.product-category .image-container {
    border-radius: 10px;
}

.product-item {
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 1);
  border: solid 1px hsla(0, 0%, 91%, 1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.product-item:hover {
  box-shadow: none;
}

.product-item .description {
  padding: 1.5rem;
  text-align: left;
}


.product-item h3 {
  margin-bottom: .75rem;
  position: relative;
  display: block;
}

.product-item .price {
}

.product-item .image-container {
    border-radius: 10px 10px 0 0;
}

/* Reusable Component - Form Field With Label */
.field {
  display: flex;
  flex-direction: column;
}

.field label {
  padding-bottom: .75rem;
}


/* Reusable Component - Navigation Breadcrumbs */
ul.breadcrumb {
    box-sizing: border-box;
    list-style: none;
    justify-self: start;
    margin: 0.8em 0 2em 0;
}
ul.breadcrumb li {
    margin-right: 15px;
    padding: 5px;
    position: relative;
    display: inline;
    font-size: 16.05px;
    align-items: left;
    background-color: hsla(25, 63%, 10%, 1);
    color: white;
}
ul.breadcrumb li:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 15px 5px;
  left: 100%;
  top: 0px;
  border-color: transparent;
  border-left-color: hsla(25, 63%, 10%, 1);
}

.breadcrumb li+li::before {
  left: -9px;
  content: "";
  position: absolute;
  border-color: hsla(25, 63%, 10%, 1);
  border-left-color: transparent;
  border-style: solid;
  border-width: 15px 5px;
  top: 0px;
}

ul.breadcrumb a {
    text-decoration: none;
}

ul.breadcrumb a:visited {
  color: hsla(25, 63%, 90%, 1);
}

@media only screen and (max-width: 1100px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 680px) {
  .product-list {
    grid-template-columns: 1fr;
  }

    .product-list-section {
        padding: 0;
    }
}


/* Site-Wide Grid */

.container {
  display: grid;
  grid-template-areas: 'header'
                       'nav'
                       'main'
                       'footer';
}


/* Header */

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 22rem 1fr 22rem;
  align-items: center;
  padding: .75rem 5rem;
  font-size: inherit;
  background-color: hsla(0, 0%, 93%, 1);
}

.search-bar {
  display: flex;
  border-radius: 33px 53px 33px 53px;
  width: 100%;
}

.search-bar input {
  flex-grow: 1;
  border-top-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 30px;
}

.search-bar .icon {
  background-color: hsla(0, 0%, 89%, 1);
  border-radius: 0 53px 53px 0;
  padding: 1rem;
}

.search-bar .icon img {
  vertical-align: middle;
}

.cart {
  justify-self: end;
  display: flex;
  align-items: center;
  padding: .875rem 1rem;
  border-radius: 54px;
}

.cart img {
  padding-left: .625rem;
}

nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-area: nav;
  background-color: hsla(0, 0%, 93%, 1);
  border-top: 1px solid hsla(0, 0%, 85%, 1);
  padding: 1.313rem 0;
  line-height: 1.5;
}

nav a:visited, .breadcrumb a:visited {
  color: hsla(25, 23%, 40%, 1);
}

nav a:hover, .breadcrumb a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1100px) {
  header {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .cart {
    justify-self: auto;
  }
}

@media only screen and (max-width: 700px) {
  header {
    padding: .75rem 0px;
  }

  nav {
    grid-template-columns: 1fr;
  }
}

/* Main Section */

#main {
  grid-area: main;
  display: grid;
  justify-items: center;
  text-align: center;
  background-color: hsla(0, 0%, 98%, 1);
  border-top: 1px solid hsla(0, 0%, 98%, 1);
}

#main h2 {
  margin-bottom: 2rem;
}

#main .button {
  box-sizing: border-box;
  width: 14.375rem;
  padding: .875rem 0;
}

/* Footer */

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1.5rem;
  background-color: hsla(25, 63%, 10%, 1);
  color: hsla(25, 0%, 90%, 1);
}

footer .logo {
  color: hsla(25, 0%, 100%, 1);
}

footer img {
  align-self: center;
  justify-self: center;
}

footer .links {
  display: grid;
  line-height: 2;
}

footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 810px) {
  footer {
    grid-template-columns: repeat(3, 1fr);
  }

  footer img {
    grid-column: 1 / span 3;
  }
}

@media only screen and (max-width: 490px) {
  footer {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  footer img {
    grid-column: auto;
  }
}
