@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root {
    --nikem-foreground: hsl(240, 100%, 20%);
    --nikem-background: hsl(60, 82%, 62%);
}

.nikem {
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" preserveAspectRatio="xMinYMin" space="preserve"> <rect id="nikem-logo-rect" x="0.5" y="0.5" width="15" height="15" style="fill:hsl(60, 82%, 62%);stroke:hsl(240, 100%, 20%);stroke-width:1;" /> <polyline id="nikem-logo-polyline" points="1.5,11.5 7.5,11.5 7.5,8.5 4.5,8.5 4.5,4.5 9.5,4.5 9.5,1 9.5,4.5 11.5,4.5 11.5,14.5" style="fill:none;stroke:hsl(240, 100%, 20%);stroke-width:1;stroke-linecap:square;" /> </svg> ');
    background-position-x: 0.2em;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1.1em;
    padding: 0.2em 0.2em 0.2em 1.4em;
    color: hsl(240, 100%, 20%);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.05em;
}
.nikem:after {
    content: ".";
    color: hsl(60, 82%, 62%);
}

.nikem.nikem-alt {
color: white;
background-color: hsl(240, 100%, 20%);
}

