@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Reenie+Beanie');


* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

details {
    color: dimgrey;
}

.usage {
    vertical-align: middle;
    display: flex;
}

.usage p {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2em;

    color: transparent;
    text-shadow: 0 0 1px rgba(107, 142, 35, 1);

    display: inline-block;
    margin: 0;
}

.usage svg {
    display: inline-block;
    height: 6em;
    width: 6em;
    margin-left: 1.6em;
    margin-top: 0.5em;
}

.usage svg .pfeil {
    filter: drop-shadow( 0px 0px 1px olivedrab );
}